<div>
    <h3 style="color: rgb(84, 83, 82);">Partial Footer:
        <a href="/" style="color: rgb(84, 83, 82);">Home</a>
        <a href="/users/feed" style="color: rgb(84, 83, 82);">For You</a>
    </h3>
</div>

