
<!DOCTYPE html>
<html>
<head><title>For You</title></head>
<body>
    <%-include('partials/header.ejs')%>
    <h2>Feed / For You</h2>
    <br><br>
    <a href="search">Search</a>
    <br><br>
    <%-include('partials/footer.ejs')%>
</body>
</html>
