<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
    <%-include('partials/header.ejs')%>

    <h1>User Profile</h1>
    <h2>Name</h2>
    <a href="#">
        <p><%= user.name %></p>
    </a>

    <a href="group">Back to Group List</a>
    <br><br>
    <%-include('partials/footer.ejs')%>
</body>
</html>