
    <!DOCTYPE html>
        <html>
        <head><title>Minimal Form</title></head>
        <body>
            <h1>Create Your Account</h1>
            <form action="./" method="POST">
                <label for="userName">Name:</label>
                <input type="text" name="userName" required placeholder="Your Name"><br><br>
                <label for="userEmail">Socials:</label>
                <input type="email" name="userEmail" required placeholder="@Socials"><br><br>
                <button type="submit">Sign Me Up</button>
            </form>
        </body>
        </html>
    