
<!DOCTYPE html>
<html>
<head><title>Agent Form</title></head>
<body>
    <h1>Connect to Axel Owners Club</h1>
    <form action="./" method="POST">
        <label for="userName">Name:</label>
        <input type="text" name="name" required placeholder="Your Name"><br><br>
        <label for="userEmail">Socials:</label>
        <input type="text" name="contact" required placeholder="@Socials"><br><br>
        <input type="hidden" name="type" value="user">
        <input type="hidden" name="groupId" value="102">
        <button type="submit">Join Group</button>
    </form>
</body>
</html>
