
<!DOCTYPE html>
<html>
<head><title>Agent Form</title></head>
<body>
    <h1>Create Your Account</h1>
    <form action="./" method="POST">
        <label for="userName">Community Name:</label>
        <input type="text" name="name" required placeholder="Your Name"><br><br>
        <label for="userEmail">Socials Account:</label>
        <input type="text" name="contact" required placeholder="@Socials"><br><br>
        <input type="hidden" name="type" value="cause">
        <button type="submit">Sign Me Up</button>
    </form>
</body>
</html>
